<head>
  <script type="text/javascript">
    var cities = <%= raw @cities %>;
    var talents = <%= raw @talents %>;
    var currentUserId = <%= raw @user.id %>;
  </script>
  <%= javascript_include_tag 'searchInApi.js' %>
</head>

<div class="wrapper skill-icon-area-container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="name">Welcome, <%= @user.name.capitalize %></h2>
            	<p>Find Altruists here</p>
        </div>
        <div class="col-md-6">
            <div class="skills-logo-area">
                <img class="skills-icon" src="/assets/search-img-dog.png">
            		<h2><bold>Search in our API</bold></h2>
            </div>
       </div>
    </div>
</div>
<br>
<div class="container">
	<div class="ui-widget">
	    <label for="tags">Search for a city:</label>
        <img class="city-search-icon" src="/assets/london.png">
        <img class="city-search-icon" src="/assets/paris.png">
        <img class="city-search-icon" src="/assets/barcelona.png">
        <img class="city-search-icon" src="/assets/amsterdam.png">
        <img class="city-search-icon" src="/assets/berlin.png">
        <img class="city-search-icon" src="/assets/san-francisco.png">
        <img class="city-search-icon" src="/assets/dublin.png">
        <br> <input class="search-field" id=
	    "tags">
	</div>
</div>
<br>
<div class="container search-tabs">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#all-skills" id="skill-label">All
            Talents</a>
        </li>
        <li>
            <a data-toggle="tab" href="#top-rated-skills" id=
            "top-rated-skills-tab">Chosen Talent</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade in active" id="all-skills">
            <p>Search in a city to get a list of the talents there.</p>
        </div>
        <div class="tab-pane fade" id="top-rated-skills">
            <p id="talent-not-picked">Pick a city first</p><label for=
            "datas">Pick a talent:</label> <select class="search-field" id=
            "datas" name="datas">
                </select>
        </div>
    </div>
</div>