<div class="wrapper skill-icon-area-container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="name">Welcome, <%= @user.name.capitalize %></h2>
            <% if @user.address.nil? %>
            	<p>Upss, you haven't entered an address</p>
            <% else %>
            	<p>Your Address: <i><%= @user.address %></i></p>
           	<% end %>   
        </div>
        <div class="col-md-6">
            <div class="skills-logo-area">
                <img class="skills-icon" src="/assets/map-pointer.jpg">
                <% if @user.address.nil? %>
            		<h2><bold>Add Address</bold></h2>
            	<% else %>
            		<h2><bold>Address Change</bold></h2>
           		 <% end %>   
            </div>
       </div>
    </div>
</div>
<div class="wrapper dashboard-wrapper address">
	<div class="container dashboard-notifiactions-container address-container">
	    <h1>Address Search 
	    <img  src="/assets/lens.png">
	    <img src="/assets/info-4.png" id="security-signup-icon">  
	    </h1>
	    <p class="security-signup-p text-center">For security reasons, the format should be Street, City, Country (NO NUMBER).<br> If you want to help/be helped by another altruist you can send your number privately</p>
	    <hr>
   		<div class="text-center">
        <%= form_for @user do |f| %>
		     <%= f.text_field :address, id:"address", placeholder: "Search" %>
		     <button id="submit" type="button" class="btn btn-primary search-address">
		     	<img  src="/assets/lens.png">
		     </button>
		     <%= f.submit "Save", id: "save-address", 
		     class: "btn btn-primary save-address" %>
	     <% end %>
        </div>
    </div>	
	    	<div id="map" style="width:47%; border-radius: 2%"></div>
	</div>
<script>

var markers = []
var myLatLng = {lat: 41.391552999999995, lng: 2.1769064}
var map 

function initMap() {
	  if (navigator.geolocation) {
	     navigator.geolocation.getCurrentPosition(function (position) {
	         initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
	         console.log(position.coords.latitude, position.coords.longitude)
	         map.setCenter(initialLocation);
	     });
	 }

map = new google.maps.Map(document.getElementById('map'), {
zoom: 8,
center: myLatLng
});
	var geocoder = new google.maps.Geocoder();
   	geocodeAddress(geocoder, map);
	document.getElementById('submit').addEventListener('click', function() {
		geocodeAddress(geocoder, map);
	});
}


function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      clearMarkers();
      addMarker(results[0].geometry.location)
      
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
      }
  });
}

function addMarker(location) {
  var marker = new google.maps.Marker({
    position: location,
    map: map
  });
  markers.push(marker);
}

// Sets the map on all markers in the array.
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

// Removes the markers from the map, but keeps them in the array.
function clearMarkers() {
  setMapOnAll(null);
}

// Shows any markers currently in the array.
function showMarkers() {
  setMapOnAll(map);
}

// Deletes all markers in the array by removing references to them.
function deleteMarkers() {
  clearMarkers();
  markers = [];
}

$('#address').keypress(function() {
    var address = this.value;
    $(".dDimension:contains('" + address + "')").css("display","block");
    if (address.split(",").length == 3){
    	$('#save-address').prop('disabled', false);
    } else {
      $('#save-address').prop('disabled', true);
    }
});

</script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB13TXpc5FZdPqhOX75ny_wVMxSI2H5C9M&callback=initMap">
</script>