<body class="dashboard-body">
    <div class="wrapper skill-icon-area-container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="name">Welcome, <%= @user.name.capitalize %></h2>
                <p>You have <strong><%= @user.minutes %> minutes</strong></p>
            </div>
            <div class="col-md-6">
                <div class="skills-logo-area">
                    <img class="skills-icon" src="/assets/skills-icon2.jpg">
                    <h2>
                    <%= link_to "My Talents", user_talents_path(@user), class: "dashboard-my-talents-link" %></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper dashboard-wrapper">
        <div class="container dashboard-notifiactions-container">
            <h1>Dashboard <%if @user.address.nil? %> <img id=
            "security-signup-icon" src="/assets/info-4.png"> <%end %> <img id=
            "security-signup-thumb" src=
            "/assets/thumb.png"></h1><%if @user.address.nil? %>
            <p class="security-address-p">You need to add your address to start
                searching for other altruists! Click here:
            <%= link_to "Add Address", users_address_path %></p><%end %>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="dashboard-notifications-label">INBOX</h1>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">To
                        Accept (<%= get_not_accepted_transactions(@transactions_recipient).length %>) </h2>
                        <% get_not_accepted_transactions(@transactions_recipient).each do |transaction| %>
                        <p id="dashboard-notifications-ul">Transacion id:
                            <%= transaction.id %>
                            <%= link_to "View", user_talent_transaction_path(@user, transaction.talents_id, transaction) %>
                        </p>
                        <% end %>
                    </div>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">To Rate (<%= get_not_rated_transactions(@transactions_sender).length %>) </h2>
                        <% get_not_rated_transactions(@transactions_sender).each do |transaction| %>
                        <p id="dashboard-notifications-ul">Transacion id:
                            <%= transaction.id %>
                            <%= link_to "View", user_talent_transaction_path(@user, transaction.talents_id, transaction) %>
                        </p>
                        <% end %>
                    </div>

                    <!-- Done deals -->

                    <h1 class="dashboard-notifications-label">DONE</h1>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">To
                        Accept (<%= get_not_accepted_transactions(@transactions_recipient).length %>) </h2>
                        <% get_not_accepted_transactions(@transactions_recipient).each do |transaction| %>
                        <p id="dashboard-notifications-ul">Transacion id:
                            <%= transaction.id %>
                            <%= link_to "View", user_talent_transaction_path(@user, transaction.talents_id, transaction) %>
                        </p>
                        <% end %>
                    </div>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">To Rate (<%= get_not_rated_transactions(@transactions_sender).length %>) </h2>
                        <% get_not_rated_transactions(@transactions_sender).each do |transaction| %>
                        <p id="dashboard-notifications-ul">Transacion id:
                            <%= transaction.id %>
                            <%= link_to "View", user_talent_transaction_path(@user, transaction.talents_id, transaction) %>
                        </p>
                        <% end %>
                    </div>



                </div>
                <div class="col-md-6">
                    <h1 class="dashboard-notifications-label">SENT</h1>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">Waiting
                        acceptance (<%= get_not_accepted_transactions(@transactions_sender).length %>) </h2>
                        <% get_not_accepted_transactions(@transactions_sender).each do |transaction| %>
                        <p id="dashboard-notifications-ul">Transacion id:
                            <%= transaction.id %>
                            <%= link_to "View", user_talent_transaction_path(@user, transaction.talents_id, transaction) %>
                        </p>
                        <% end %>
                    </div>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">Waiting
                        rating (<%= get_not_rated_transactions(@transactions_recipient).length %>) </h2>
                        <% get_not_rated_transactions(@transactions_recipient).each do |transaction| %>
                        <p id="dashboard-notifications-ul">Transacion id:
                            <%= transaction.id %>
                            <%= link_to "View", user_talent_transaction_path(@user, transaction.talents_id, transaction) %>
                        </p>
                        <% end %>
                    </div>

                    <!-- CANCELLED -->

                    <h1 class="dashboard-notifications-label">CANCELLED</h1>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">To
                        Accept (<%= get_not_accepted_transactions(@transactions_recipient).length %>) </h2>
                        <% get_not_accepted_transactions(@transactions_recipient).each do |transaction| %>
                        <p id="dashboard-notifications-ul">Transacion id:
                            <%= transaction.id %>
                            <%= link_to "View", user_talent_transaction_path(@user, transaction.talents_id, transaction) %>
                        </p>
                        <% end %>
                    </div>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">To Rate (<%= get_not_rated_transactions(@transactions_sender).length %>) </h2>
                        <% get_not_rated_transactions(@transactions_sender).each do |transaction| %>
                        <p id="dashboard-notifications-ul">Transacion id:
                            <%= transaction.id %>
                            <%= link_to "View", user_talent_transaction_path(@user, transaction.talents_id, transaction) %>
                        </p>
                        <% end %>
                    </div>




                </div>
            </div><br>
            <div class="container dashboard-notifiactions-container">
                <h1>Statistics & Charts</h1>
                
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h2 class="dashboard-notifications-label">TOP USERS</h2>
                    <div id="chart-1">
                        <%= pie_chart User.group(:name).count, height: "150px" %>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="dashboard-notifications-label">TOP TALENTS</h2>
                    <div id="chart-1">
                        <%= bar_chart Talent.group(:name).count,height: "150px" %>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="dashboard-notifications-label">NEWEST USERS</h2>
                    <div id="chart-1">
                        <%= line_chart User.group(:created_at).count,height: "150px" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>