<h1>New Transaction</h1>



<div class="container">
<%= form_for [@user,@talent,@transaction] do |f| %>
 <div class="form-group">

<%= f.label "Subject" %>
<%= f.text_field :subject, class: "form-control" %>
</div>
 <div class="form-group">	
<%= f.label "Minutes" %>
<%= f.number_field :minutes, class: "form-control"  %>
</div>

 <div class="form-group">
<%= f.label "Date" %>
<%= f.text_field :date, :class => "datepicker form-control"%>
</div>





	<%=f.submit %>


<% end %>
</div>

