<div class="wrapper skill-icon-area-container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="name">Hey, <%= @user.name.capitalize %></h2>
            <p>This is the state of this petition  </p>  
        </div>
        <div class="col-md-6">
            <div class="skills-logo-area">
                <img class="skills-icon change" src="/assets/connected.jpg">
            		<h2><bold>Your Petition</bold></h2>   
            </div>
       </div>
    </div>
</div>
<br>
<div class="container">
	
    <p>
        <% if @sender == @user %>
        With altruist: <%= @recipient.name %>
        <% else %>
        From altruist: <%= @sender.name %>
        <% end %>
        
    </p>
    <p>Subject: <%= @transaction.subject %> </p>
    <p> When:  <%= @transaction.date %> </p>
    <p> Minutes: <%= @transaction.minutes %> </p>
    <% unless @transaction.accepted %>
        <%= link_to "Accept", edit_user_talent_transaction_path(@user,@talent,@transaction), class: "btn btn-primary" %>
        <%= link_to "Decline", edit_user_talent_transaction_path(@user,@talent,@transaction), class: "btn btn-primary cancel-button" %>
    <% end %>
    <p>
       Accepted: <%= @transaction.accepted%>   
    </p>
    <p>
        Rated: <%= @transaction.rated %>      
    </p>
</div>